.avatar {
    box-sizing: content-box;
}

.username{
    color: #d8d104;
}



.navigation ul {
    color: #44405f;
    text-align: center;
    stroke-linecap: round;
}

.navigation li {
    display: inline;
}

.navigation li:hover {
    background-color: rgb(23, 14, 67);
}

body {
    background: rgba(2, 36, 48);    
}

.username p {
    color: aliceblue;
    display: inline;
}